/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
.monoton-regular {
  font-family: "myfont";
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  font-size: 4em;
}
html {
  height: 99%;
  display: flex;
}
@font-face {
  font-family: "MyFont";
  src: url("Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* * {
  outline: 1px solid red !important;
} */
/* 
body {
  display: flex;
  height: 100%;
} */

#x {
  display: flex;
  min-height: 101%;
  width: 113%;
}

#iconDiv {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 44%;
}
.side-left {
  background-size: 100% 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.side-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1219px;
  background-color: #f9fafb;
}
img {
  max-width: 75px;
}
.p-white {
  display: flex;
  color: honeydew;
  justify-content: center;
}
.div-log {
  padding-left: 25px;
  box-shadow: -1px 6px 2px 0px rgb(221 219 219 / 57%);
  padding: 10px;
  background-color: rgba(255, 255, 255, 255);
}
.bold-text {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 22px;
  margin-left: 25px;
}
.par {
  width: 71%;
  margin-bottom: 33px;
}
button {
  background-color: rgb(36, 66, 36);
  color: rgb(255, 255, 255);
  margin-left: 25px;
  box-shadow: -1px 6px 2px 0px rgb(221 219 219 / 57%);
  border-radius: 5p;
}
.button {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 49px;
  margin-left: 25px;
}
.big-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 25px;
}
#green-text {
  color: green;
}
a {
  text-decoration: none;
}
.log {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ll {
  display: flex;
}
div#parent-log {
  display: flex;
  flex-direction: row;
}
div.log-left {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}
div.log-right {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}
